<%- include('./header.ejs')  %>
<section class = "about-section shapedividers_com-1606">
    <div class = "about-bg">
      <h1>ABOUT US</h1>
      <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda iste facilis quos impedit fuga nobis modi debitis laboriosam velit reiciendis quisquam alias corporis, maxime enim, optio ab dolorum sequi qui.</p>
    </div>
  </section>
<%- include('./footer.ejs')  %>