<%- include('./header.ejs') %>
  <section class="about-section shapedividers_com-7975 animate__animated animate__slideInDown">
    <div class="about-bg">
      <h1>ABOUT US</h1>
    </div>
  </section>
  <div class="p-4">
    <div class="row p-4 wow animate__animated animate__zoomIn">
      <div class="col-md-12 page-container">
        <p class="heading-section">WHO WE ARE</p>
      </div>
      <div class="col-md-7 content-box">
        <div class="content-para">
        <p>Welcome to Lakhdatar Ventures, where innovation meets expertise to drive transformative solutions in the
          ever-evolving landscape of technology. As a leading IT company, we are committed to empowering businesses of
          all sizes to thrive in the digital age. With a passion for innovation and a dedication to excellence, we
          deliver comprehensive services that address your most pressing IT challenges and unlock new opportunities for
          growth.</p>
        </div>
        <div class="content-para">
        <p>Our team of experienced professionals delivers services that not only achieve but also in addition to
          expectations by combining their technical skills with fresh concepts. We stay ahead of the curve by focusing
          on innovation and upholding quality standards, leveraging the newest technologies and industry best practices
          to provide outcomes that actually add value to the business.</p>
        </div>
      </div>
      <div class="col-md-5 content-box-1">
        <div class="w-100 h-100" id="img-about"></div>
      </div>
    </div>
  </div>

  <section class="section2" id="AboutUs">
		<table>
		<tr>
		<td>
		<img class="wow animate__animated animate__slideInRight" src="/Images/our vission.png" alt="AboutUs">
		</td>
		<td>
		<span class="title">Our Vision</span>
		<p class="ph wow animate__animated animate__slideInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<p class="wow animate__animated animate__slideInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</td>
		</tr>
		</table>
		</section>
		
		<section class="section3" id="OurMission">
		<table>
		<tr>
		<td>
		<span class="title">Our Mission</span>
		<p class="ph wow animate__animated animate__slideInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<p class="wow animate__animated animate__slideInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</td>
		<td>
		<img class="wow animate__animated animate__slideInLeft" style="height: 270px;" src="/Images/ourmission.jpeg" alt="AboutUs">
		</td>
		</tr>
		</table>
		</section>
  <%- include('./footer.ejs') %>