<%- include('./header.ejs') %>
<section
  class="about-section shapedividers_com-7975 animate__animated animate__slideInDown"
>
  <div style="background: url(/Images/Cloud\ Computingbg.jpeg);background-size: cover ;" class="service-bg">
    <h1>Cloud Computing</h1>
  </div>
</section>
<div class="p-4">
  <div class="row p-4 wow animate__animated animate__zoomIn">
    <div class="col-md-12 page-container">
      <p class="heading-section">Cloud Computing</p>
    </div>
    <div class="col-md-7 content-box">
      <div class="content-para">
        <p>
          Cloud computing refers to the delivery of computing services—including
          servers, storage, databases, networking, software, analytics, and
          intelligence—over the internet ("the cloud") to offer faster
          innovation, flexible resources, and economies of scale. In simpler
          terms, instead of owning physical hardware or running software on your
          own computers or servers, you access these resources remotely via the
          internet.
        </p>
      </div>
      <div class="content-para">
        <p>
          Cloud computing is a paradigm of delivering computing services such as
          storage, processing power, and software applications over the
          internet. Instead of relying on physical hardware and on-premises
          infrastructure, cloud computing utilizes remote servers hosted on the
          internet to store and manage data, run applications, and provide
          computing resources on-demand.
        </p>
      </div>
    </div>
    <div class="col-md-5 content-box-1">
      <div class="w-100 h-100" id="img-cloud"></div>
    </div>
  </div>
</div>

<section class="section2" id="AboutUs">
  <table>
    <tr>
      <td>
        <img
          class="wow animate__animated animate__slideInRight"
          src="/Images/Broad Network Access.avif"
          alt="AboutUs"
        />
      </td>
      <td>
        <span class="title" style="font-size: 23px">Broad Network Access</span>
        <p class="ph wow animate__animated animate__slideInRight">
          Cloud services can be accessed from anywhere with an internet
          connection. Whether you're using a desktop computer, laptop, tablet,
          smartphone, or any other device that can connect to the internet, you
          can access cloud-based applications and resources. Cloud services
          typically utilize standard protocols and interfaces for communication,
          making them compatible with a wide range of devices and platforms.
        </p>
        <p class="wow animate__animated animate__slideInRight">
          The broad network access characteristic of cloud computing ensures
          that users can leverage cloud services from a diverse range of devices
          and platforms, enabling flexibility
        </p>
      </td>
    </tr>
  </table>
</section>

<section class="section3" id="OurMission">
  <table>
    <tr>
      <td>
        <span class="title" style="font-size: 23px">Resource Pooling</span>
        <p class="ph wow animate__animated animate__slideInLeft">
          In cloud computing, resources such as processing power (CPU), memory,
          storage, and networking infrastructure are pooled together from
          various physical servers and data centers. These resources are then
          made available for consumption by multiple users or tenants. Cloud
          providers typically operate on a multi-tenant model, where multiple
          users or organizations 
        </p>
        <p class="wow animate__animated animate__slideInLeft">
          resource pooling in cloud computing facilitates efficient utilization
          of computing resources, enables scalability and elasticity, and allows
          for cost-effective provisioning of resources based on actual demand
        </p>
      </td>
      <td>
        <img
          class="wow animate__animated animate__slideInLeft"
          src="/Images/ Resource Pooling.avif"
          alt="AboutUs"
        />
      </td>
    </tr>
  </table>
</section>
<%- include('./footer.ejs') %>
