<section id="footer">
    <div class="container-fluid" id="ft0">
        <div class="row" id="ft">
        <div class="col-md-3">
         <section class="heading-footer">
           <h5>SERVICES</h5>
        </section>
           <ul>
            <li><a href="">Web Application Development</a></li>
            <li><a href="">Mobile App Development</a></li>
            <li><a href="">UI/UX Design</a></li>
            <li><a href="">AI Services & Tools</a></li>
            <li><a href="">Cloud Computing</a></li>
            <li><a href="">Business Management</a></li>
            <li><a href="">Market Data Analyzing</a></li>
            <li><a href="">Product Development</a></li>
           </ul>
        </div>
        <div class="col-md-3">
            <section class="heading-footer">
              <h5>COMPANY</h5>
            </section>
            <ul>
                <li><a href="">Research and Innovation</a></li>
                <li><a href="">News and Events</a></li>
                <li><a href="">Join our Team</a></li>
                <li><a href="">Disclaimer</a></li>
               </ul>
        </div>
        <div class="col-md-2">
            <section class="heading-footer">
               <h5>ABOUT</h5>
            </section>
            <ul>
                <li><a href="">Research and Innovation</a></li>
                <li><a href="">News and Events</a></li>
                <li><a href="">Join our Team</a></li>
                <li><a href="">Disclaimer</a></li>
               </ul>
        </div>
        <div class="col-md-2">
            <section class="heading-footer">
           <h5>CONTACT US</h5>
            </section>
            <ul>
                <li><a href="">Research and Innovation</a></li>
                <li><a href="">News and Events</a></li>
                <li><a href="">Join our Team</a></li>
                <li><a href="">Disclaimer</a></li>
               </ul>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <hr>
</div>
<div class="d-flex justify-content-center">
    <h6>© 2024 Lakhdatar Ventures Services Pvt. Ltd. All Rights Reserved</h6>
</div>
</section>
</body>

</html>