<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lakhdatar Ventures</title>
    <link rel="icon" href="/Images/fav-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fontawesome.com/icons/user?f=classic&s=solid">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <link rel="stylesheet" href="CSS/home.css">
</head>

<body>
    <div class="animate__animated animate__fadeIn">
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg fixed-top" id="nav1">
            <div class="container-fluid mx-2" id="navpadding">
                <a class="navbar-brand mx-2" href="./home">
                    <img class="img-fluid" id="y" src="/Images/Logonav.png" alt="">
                </a>
                <button class="navbar-toggler" data-bs-target="#a" data-bs-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse " id="a">
                    <ul class="navbar-nav text-center ms-auto" id="link">
                        <li id="dropdown"><a href="#" class="nav-link">COMPANY <i class="fa fa-caret-down"></i></a>
                            <ul class="list">
                                <li><a href="./aboutus"><i class="fa fa-caret-right"></i>ABOUT US</a></li>
                                <li><a href=""><i class="fa fa-caret-right"></i>RESEARCH AND INNOVATION</a></li>
                                <li><a href=""><i class="fa fa-caret-right"></i>NEWS AND EVENTS</a></li>
                                <li><a href=""><i class="fa fa-caret-right"></i>PRIVACY POLICY</a></li>
                            </ul>
                        </li>
                        <li id="dropdown"><a href="#" class="nav-link">SERVICES <i class="fa fa-caret-down"></i></a>
                            <ul class="list">
                                <li><a href="./SoftwareDev"><i class="fa fa-caret-right"></i>Software
                                        Development</a></li>
                                <li><a href="./CybersecuritySol"><i class="fa fa-caret-right"></i>Cybersecurity
                                        Solutions</a></li>
                                <li><a href="./CloudComputing"><i class="fa fa-caret-right"></i>Cloud Computing</a>
                                </li>
                                <li><a href="./DataAnalytics"><i class="fa fa-caret-right"></i>Data Analytics</a>
                                </li>
                                <li><a href="./ITConsulting"><i class="fa fa-caret-right"></i>IT Consulting</a></li>
                                <li><a href="./ManageITServices"><i class="fa fa-caret-right"></i>Managed IT
                                        Services</a></li>
                                <li><a href="./DigitaTransformation"><i class="fa fa-caret-right"></i>Digital
                                        Transformation</a></li>
                                <li><a href="./TrainingandWorkshops"><i class="fa fa-caret-right"></i>Training and
                                        Workshops</a></li>
                            </ul>
                        </li>
                        <li id="dropdown"><a href="./portfolio" class="nav-link">PORTFOLIO</a>
                        </li>
                        <li id="dropdown"><a href="#" class="nav-link">CAREERS</a></li>
                        <button class="btn0 px-3"><a style="color: black; text-decoration: none;"
                                href="./contact">CONTACT US</a></button>
                    </ul>
                </div>
            </div>

        </nav>
        <!-- navbar close -->
        <script>
            new WOW().init();
        </script>