<%- include('./header.ejs') %>
  <div class="carousel slide carousel-fade shapedividers_com-7975 wow animate__animated animate__slideInDown" id="z">
    <div class="carousel-indicators">
      <button id="btnc" type="button" data-bs-target="#z" data-bs-slide-to="0" class="active"></button>
      <button id="btnc" type="button" data-bs-target="#z" data-bs-slide-to="1"></button>
      <button id="btnc" type="button" data-bs-target="#z" data-bs-slide-to="2"></button>
      <button id="btnc" type="button" data-bs-target="#z" data-bs-slide-to="3"></button>
      <button id="btnc" type="button" data-bs-target="#z" data-bs-slide-to="4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-md-block">
          <p class="small-heading">IT Consultancy</p>
          <h1 class="big-heading">Empowering Businesses Through Cutting-Edge Technology</h1>
        </div>
        <img class="carousel-img" src="/Images/Bimg6.jpg" alt="" />
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block">
          <p class="small-heading">IT Consultancy</p>
          <h1 class="big-heading">Empowering Businesses Through Cutting-Edge Technology</h1>
        </div>
        <img class="carousel-img" src="/Images/Bimg2.jpg" alt="" />
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block">
          <p class="small-heading">IT Consultancy</p>
          <h1 class="big-heading">Empowering Businesses Through Cutting-Edge Technology</h1>
        </div>
        <img class="carousel-img" src="/Images/Bimg3.jpg" alt="" />
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block">
          <p class="small-heading">IT Consultancy</p>
          <h1 class="big-heading">Empowering Businesses Through Cutting-Edge Technology</h1>
        </div>
        <img class="carousel-img" src="/Images/Bimg4.jpg" alt="" />
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block">
          <p class="small-heading">IT Consultancy</p>
          <h1 class="big-heading">Empowering Businesses Through Cutting-Edge Technology</h1>
        </div>
        <img class="carousel-img" src="/Images/Bimg5.jpg" alt="" />
      </div>
    </div>
  </div>

  <!-- Industries -->
  <div class="container-fluid">
    <h1 class="text-center mt-5  fw-bold wow animate__animated animate__zoomIn">
      Industries<span class="theme-text"> we have worked for!</span>
    </h1>
    <div class="container" id="product1">

      <div class="hexagon">
        <div class="hexagon-shape">
          <img src="https://t3.ftcdn.net/jpg/04/73/02/50/360_F_473025052_vuWvnd7lL8YmgON6vZsSz8jPsTvca3QT.jpg" alt="">
          <div class="content">
            <div>
              <h2 style="font-size: 1.3rem; padding:10px;">Hospitality</h2>
              <p style="font-size: 11px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ab tempora aut error, quia expedita dolorum alias, molestias soluta enim,
                quos perspiciatis eos! Neque laboriosam sit, veniam quod dolorum autem pariatur.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hexagon">
        <div class="hexagon-shape">
          <img
            src="https://images.pexels.com/photos/1008155/pexels-photo-1008155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="">
          <div class="content">
            <div>
              <h2 style="font-size: 1.3rem;padding:10px">Travel</h2>
              <p style="font-size: 11px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ab tempora aut error, quia expedita dolorum alias, molestias soluta enim,
                quos perspiciatis eos! Neque laboriosam sit, veniam quod dolorum autem pariatur.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hexagon">
        <div class="hexagon-shape">
          <img src="https://images.pexels.com/photos/7374/startup-photos.jpg" alt="">
          <div class="content">
            <div>
              <h2 style="font-size: 1.3rem; padding:10px;">Software</h2>
              <p style="font-size: 11px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ab tempora aut error, quia expedita dolorum alias, molestias soluta enim,
                quos perspiciatis eos! Neque laboriosam sit, veniam quod dolorum autem pariatur.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hexagon">
        <div class="hexagon-shape">
          <img src="https://images.pexels.com/photos/53874/pexels-photo-53874.jpeg?cs=srgb&dl=pexels-tim-gouw-53874.jpg&fm=jpg" alt="">
          <div class="content">
            <div>
              <h2 style="font-size: 1.3rem; padding:10px;">Stationary</h2>
              <p style="font-size: 11px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ab tempora aut error, quia expedita dolorum alias, molestias soluta enim,
                quos perspiciatis eos! Neque laboriosam sit, veniam quod dolorum autem pariatur.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hexagon">
        <div class="hexagon-shape">
          <img src="https://i.pinimg.com/originals/94/41/f2/9441f2efd20b16f02e73b25b43181a8c.jpg" alt="">
          <div class="content">
            <div>
              <h2 style="font-size: 1.3rem; padding:10px;">CONSTRUCTION</h2>
              <p style="font-size: 11px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ab tempora aut error, quia expedita dolorum alias, molestias soluta enim,
                quos perspiciatis eos! Neque laboriosam sit, veniam quod dolorum autem pariatur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- counter -->
  <div class="wrapper wow animate__animated animate__slideInLeft">
    <div class="contai">
      <i id="ic" class="fa fa-code fa-2x"></i>
      <span class="num" data-val="400">000</span>
      <span class="text">Completed Projects</span>
    </div>

    <div class="contai">
      <i id="ic" class="fa-solid fa-users"></i>
      <span class="num" data-val="340">000</span>
      <span class="text">Happy Customers</span>
    </div>

    <div class="contai">
      <i id="ic" class="fa-solid fa-award"></i>
      <span class="num" data-val="225">000</span>
      <span class="text">Startup Supported</span>
    </div>

    <div class="contai">
      <i id="ic" class="fa-regular fa-id-card"></i>
      <span class="num" data-val="280">000</span>
      <span class="text">Satisfaction Rate</span>
    </div>
  </div>

  <!-- Service Now -->
  <div class="container-fluid px-5 py-2">
    <h1 class="text-center mt-5 display-3 fw-bold wow animate__animated animate__zoomIn">
      Our <span class="theme-text">Services</span>
    </h1>
    <hr class="serviceline" />
    <div class="row mb-5 wow animate__animated animate__zoomIn">
      <div class="col-12 col-sm-6 col-md-3 my-3">
        <div class="card" id="cardy">
          <img src="/images/web.svg" alt="" class="card-img-top" id="cardy-img-top"/>
          <div class="card-body">
            <h3 class="text-center">Web Development</h3>
            <hr class="mx-auto w-75" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
              soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
              animi. Natus non earum deleniti aliquam
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 my-3">
        <div class="card" id="cardy">
          <img src="images/app.svg" alt="" class="card-img-top" id="cardy-img-top"/>
          <div class="card-body">
            <h3 class="text-center">App Development</h3>
            <hr class="mx-auto w-75" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
              soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
              animi. Natus non earum deleniti aliquam
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 my-3">
        <div class="card" id="cardy">
          <img src="images/dm.svg" alt="" class="card-img-top" id="cardy-img-top"/>
          <div class="card-body">
            <h3 class="text-center">Digital Market Planning</h3>
            <hr class="mx-auto w-75" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
              soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
              animi. Natus non earum deleniti aliquam
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 my-3">
        <div class="card" id="cardy">
          <img src="images/seo.svg" alt="" class="card-img-top" id="cardy-img-top"/>
          <div class="card-body">
            <h3 class="text-center">UI/UX Design</h3>
            <hr class="mx-auto w-75" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
              soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
              animi. Natus non earum deleniti aliquam
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service Now End -->

  <!-- Script -->
  <script>
    let valueDisplays = document.querySelectorAll(".num");
    let interval = 4000;

    valueDisplays.forEach((valueDisplay) => {
      let startValue = 0;
      let endValue = parseInt(valueDisplay.getAttribute("data-val"));
      let duration = Math.floor(interval / endValue);
      let counter = setInterval(function () {
        startValue += 1;
        valueDisplay.textContent = startValue;
        if (startValue == endValue) {
          clearInterval(counter);
        }
      }, duration);
    });
  </script>

  <section id="testim" class="testim">
   
    <div class="col-md-12 page-container">
      <p class="heading-section1">Our Testimonial</p>
    </div>
    <div class="wrap">

      <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
      <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
      <ul id="testim-dots" class="dots">
        <li class="dot active"></li>
                      
        <li class="dot"></li>
                      
        <li class="dot"></li>
                      
        <li class="dot"></li>
                      
        <li class="dot"></li>
      </ul>
      <div id="testim-content" class="cont">

        <div class="active">
          <div class="img"><img
              src="/Images/client1.jpeg"
              alt=""></div>
          <h2>Lorem P. Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>

        <div>
          <div class="img"><img
              src="/Images/client3.jpeg"
              alt=""></div>
          <h2>Mr. Ravi Sharma</h2>
          <p>Impressed with the seamless functionality and sleek design. Our website now drives more traffic and boosts our online presence.</p>
        </div>

        <div>
          <div class="img"><img
              src="/Images/client2.jpeg"
              alt=""></div>
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>

        <div>
          <div class="img"><img
              src="/Images/client4.jpeg"
              alt=""></div>
          <h2>Lorem De Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>

        <div>
          <div class="img"><img
              src="/Images/client6.jpeg"
              alt=""></div>
          <h2>Ms. Lorem R. Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>

      </div>

    </div>
    <!--         </div> -->
  </section>

  <!-- why choose Us -->
  <div class="container-fluid shapedividers_com-672"
    style="background:url(https://lakhdatarventures.com/wp-content/uploads/2024/02/bg-2.jpg); background-size:cover;">
    <div class="row">
      <h1 class="text-center mt-4  fw-bold wow animate__animated animate__zoomIn">
        Why <span class="theme-text">Choose Us</span>
      </h1>
    </div>
    <div class="container">
      <div class="box">
        <div class="root1">
          <div class="sec1 wow animate__animated animate__zoomInLeft" data-wow-delay="0.2s">
            <span class="circle">
              <i class="fa-solid fa-briefcase fa-3x" style="color: #ffffff"></i>
            </span><br>
            <h1>500+ SITES</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cupiditate ad id tempore fugit expedita.
            </p>
          </div>
          <div class="sec2 wow animate__animated animate__zoomInLeft" data-wow-delay="0.2s">
            <span class="circle">
              <i class="fa-solid fa-code fa-3x" style="color: #ffffff"></i>
            </span><br>
            <h1>DEVELOPMENT</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cupiditate ad id tempore fugit expedita.
            </p>
          </div>
        </div>
        <div class="root2 wow animate__animated animate__zoomIn" data-wow-delay="0.2s">
          <img src="/Images/Bimg5.jpg" alt="profile picture">
        </div>
        <div class="root3">
          <div class="sec3 wow animate__animated animate__zoomInRight" data-wow-delay="0.2s">
            <span class="circle">
              <i class="fa-solid fa-headset fa-3x" style="color: #ffffff"></i>
            </span><br>
            <h1>SUPPORT</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cupiditate ad id tempore fugit expedita.
            </p>
          </div>
          <div class="sec4 wow animate__animated animate__zoomInRight" data-wow-delay="0.2s">
            <span class="circle">
              <i class="fa-solid fa-rocket fa-3x" style="color: #ffffff"></i>
            </span><br>
            <h1>EFFECTIVE</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cupiditate ad id tempore fugit expedita.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- why choose Us end-->


  <!-- about -->
  <div class="container-flui" style="background-color:#181717;">
    <div class="row w-100">
      <div class="col-md-6 p-0 shapedividers_com-672  wow animate__animated animate__slideInLeft" data-wow-delay="0.3s">
        <img src="/Images/1aboutimg.jpg" alt="" width="100%" height="100%">
      </div>
      <div class="col-md-6 p-0 wow animate__animated animate__slideInRight" data-wow-delay="0.3s">
        <div class="contentabout">
          <h2>About Us</h2>
          <span></span>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates
            nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos
            corporis!</p>

          <ul class="linkabout">
            <li><a href="#">work</a></li>

            <div class="vertical-line"></div>

            <li><a href="#">service</a></li>

            <div class="vertical-line"></div>

            <li><a href="#">contact</a></li>
          </ul>

          <ul class="iconabout">
            <li>
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo Slider -->
  <div class="container-fluid wow animate__animated animate__slideInLeft" id="logoSlider">
    <h2 class="title-up" style="color: black; padding: 0;">
      <p style="color: black; margin-bottom: 1rem;" class="heading-section1 my-0">Our Clients</p>
    </h2>
    <section class="customer-logos slider">
      <div class="slide"><img
          src="https://i0.wp.com/cdn.askmeoffers.com/wp-content/uploads/2023/11/15221519/lenskart-coupon-codes-lenskart-offers-deals.png?ssl=1">
      </div>
      <div class="slide"><img
          src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/112019/mmt_fullcolor.png?JgFR3clMwpXRH2xztnw10uhf0tUSghgS&itok=2eLs41rV">
      </div>
      <div class="slide"><img src="https://www.carsbecho.com/Images/brandNameNew1.png"></div>
      <div class="slide"><img
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t39.30808-6/422472057_775453137953135_6191234467177250531_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=3zfmsDicpxIAX9xjPTn&_nc_ht=scontent-bom1-1.xx&oh=00_AfC4BAolJOUS_BbGXQ5odjcFmuIzNIUXy8OLx2oykZ3EhA&oe=66100A9A">
      </div>
      <div class="slide"><img
          src="https://www.yourlegalcareercoach.com/wp-content/uploads/2022/01/Untitled-design-39.png"></div>
      <div class="slide"><img src="https://image.pitchbook.com/Swp3DMFqcANnUUKC7EqBzkWvHkt1679383000448_200x200"></div>
      <div class="slide"><img src="https://pbs.twimg.com/profile_images/1305820252689690624/7b7ak-uL_400x400.jpg">
      </div>
      <div class="slide"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScCgPk90nSaaRKF_W91dWyMTh34NxhtUieeHBr7zOMxI-zmQqgNn-25KaJyCNhRXm0PMY&usqp=CAU">
      </div>
    </section>

  </div>

  <script>
    $(document).ready(function () {
      $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: false,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
          breakpoint: 768,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 520,
          settings: {
            slidesToShow: 3
          }
        }]
      });
    });
  </script>


  <script src="https://use.fontawesome.com/1744f3f671.js"></script>

  <script>'use strict'
    var testim = document.getElementById("testim"),
      testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
      testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
      testimLeftArrow = document.getElementById("left-arrow"),
      testimRightArrow = document.getElementById("right-arrow"),
      testimSpeed = 4500,
      currentSlide = 0,
      currentActive = 0,
      testimTimer,
      touchStartPos,
      touchEndPos,
      touchPosDiff,
      ignoreTouch = 30;
    ;

    window.onload = function () {

      // Testim Script
      function playSlide(slide) {
        for (var k = 0; k < testimDots.length; k++) {
          testimContent[k].classList.remove("active");
          testimContent[k].classList.remove("inactive");
          testimDots[k].classList.remove("active");
        }

        if (slide < 0) {
          slide = currentSlide = testimContent.length - 1;
        }

        if (slide > testimContent.length - 1) {
          slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
          testimContent[currentActive].classList.add("inactive");
        }
        testimContent[slide].classList.add("active");
        testimDots[slide].classList.add("active");

        currentActive = currentSlide;

        clearTimeout(testimTimer);
        testimTimer = setTimeout(function () {
          playSlide(currentSlide += 1);
        }, testimSpeed)
      }

      testimLeftArrow.addEventListener("click", function () {
        playSlide(currentSlide -= 1);
      })

      testimRightArrow.addEventListener("click", function () {
        playSlide(currentSlide += 1);
      })

      for (var l = 0; l < testimDots.length; l++) {
        testimDots[l].addEventListener("click", function () {
          playSlide(currentSlide = testimDots.indexOf(this));
        })
      }

      playSlide(currentSlide);

      // keyboard shortcuts
      document.addEventListener("keyup", function (e) {
        switch (e.keyCode) {
          case 37:
            testimLeftArrow.click();
            break;

          case 39:
            testimRightArrow.click();
            break;

          case 39:
            testimRightArrow.click();
            break;

          default:
            break;
        }
      })

      testim.addEventListener("touchstart", function (e) {
        touchStartPos = e.changedTouches[0].clientX;
      })

      testim.addEventListener("touchend", function (e) {
        touchEndPos = e.changedTouches[0].clientX;

        touchPosDiff = touchStartPos - touchEndPos;

        console.log(touchPosDiff);
        console.log(touchStartPos);
        console.log(touchEndPos);


        if (touchPosDiff > 0 + ignoreTouch) {
          testimLeftArrow.click();
        } else if (touchPosDiff < 0 - ignoreTouch) {
          testimRightArrow.click();
        } else {
          return;
        }

      })
    }</script>


  <%- include('./footer.ejs') %>