<%- include('./header.ejs') %>
<div class="carousel slide shapedividers_com-7975" data-bs-ride="carousel" id="z">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#z"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#z" data-bs-slide-to="1"></button>
  </div>
  <div class="carousel-inner">
    <div class="sliding"></div>
    <div class="carousel-item active">
      <img
        class="carousel-img" src="/Images/Bimg.jpg" alt="" />
    </div>
    <div class="carousel-item">
      <img class="carousel-img" src="/Images/Bimg2.jpg" alt=""/>
    </div>
    <div class="carousel-item">
      <img class="carousel-img" src="/Images/Bimg3.jpg" alt="" />
    </div>
    <div class="carousel-item">
      <img class="carousel-img" src="/Images/Bimg4.jpg" alt="" />
    </div>
    <div class="carousel-item">
      <img class="carousel-img" src="/Images/Bimg5.jpg" alt="" />
    </div>
  </div>
</div>

<!-- Service Now -->
<div class="container-fluid p-5 " >
  <h1 class="text-center mt-5 display-3 fw-bold wow animate__animated animate__zoomIn">
    Our <span class="theme-text">Services</span>
  </h1>
  <hr class="serviceline" />
  <div class="row mb-5 wow animate__animated animate__zoomIn">
    <div class="col-12 col-sm-6 col-md-3 my-3">
      <div class="card">
        <img src="/images/web.svg" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="text-center">Web Development</h3>
          <hr class="mx-auto w-75" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
            soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
            animi. Natus non earum deleniti aliquam
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 my-3">
      <div class="card">
        <img src="images/app.svg" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="text-center">App Development</h3>
          <hr class="mx-auto w-75" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
            soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
            animi. Natus non earum deleniti aliquam
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 my-3">
      <div class="card">
        <img src="images/dm.svg" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="text-center">Digital Market Planning</h3>
          <hr class="mx-auto w-75" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
            soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
            animi. Natus non earum deleniti aliquam
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 my-3">
      <div class="card">
        <img src="images/seo.svg" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="text-center">UI/UX Design</h3>
          <hr class="mx-auto w-75" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi
            soluta est veniam sequi nemo, quas delectus eveniet ducimus rem
            animi. Natus non earum deleniti aliquam
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service Now End -->
<!-- Why Choose Us-->
<div class="container-fluid p-4">
  <div class="text-center mb-2-8 mb-lg-6">
      <h2 class="display-18 display-md-16 display-lg-14 font-weight-700">Why choose <strong class="text-primary font-weight-700">Us</strong></h2>
      <!-- <span>The trusted source for why choose us</span> -->
  </div>
  <div class="row align-items-center">
      <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
          <div class="pr-md-3">
              <div class="text-center text-sm-right mb-2-9">
                  <div class="mb-4">
                      <img src="https://www.bootdey.com/image/80x80/FFB6C1/000000" alt="..." class="rounded-circle">
                  </div>
                  <h4 class="sub-info">Residential Cleaning</h4>
                  <p class="display-30 mb-0">Roin gravida nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
              </div>
              <div class="text-center text-sm-right">
                  <div class="mb-4">
                      <img src="https://www.bootdey.com/image/80x80/87CEFA/000000" alt="..." class="rounded-circle">
                  </div>
                  <h4 class="sub-info">Commercial Cleaning</h4>
                  <p class="display-30 mb-0">Gravida roin nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
          <div class="why-choose-center-image">
              <img src="https://www.bootdey.com/image/350x350/FF7F50/000000" alt="..." class="rounded-circle">
          </div>
      </div>
      <div class="col-sm-6 col-lg-4">
          <div class="pl-md-3">
              <div class="text-center text-sm-left mb-2-9">
                  <div class="mb-4">
                      <img src="https://www.bootdey.com/image/80x80/8A2BE2/000000" alt="..." class="rounded-circle">
                  </div>
                  <h4 class="sub-info">Washing services</h4>
                  <p class="display-30 mb-0">Nibh roin gravida vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
              </div>

              <div class="text-center text-sm-left">
                  <div class="mb-4">
                      <img src="https://www.bootdey.com/image/80x80/20B2AA/000000" alt="..." class="rounded-circle">
                  </div>
                  <h4 class="sub-info">Carpet cleaning</h4>
                  <p class="display-30 mb-0">Vel proin gravida nibh velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Why Choose Us End -->

<!-- counter -->
<div class="wrapper">
  <div class="contai ">
    <i id="ic" class="fa fa-code fa-2x  "></i>
    <span class="num" data-val="400">000</span>
    <span class="text">Completed Projects</span>
  </div>

  <div class="contai">
    <i id="ic" class="fa-solid fa-users"></i>
    <span class="num" data-val="340">000</span>
    <span class="text">Happy Customers</span>
  </div>

  <div class="contai">
    <i id="ic" class="fa-solid fa-award"></i>
    <span class="num" data-val="225">000</span>
    <span class="text">Startup Supported</span>
  </div>

  <div class="contai">
    <i id="ic" class="fa-regular fa-id-card"></i>
    <span class="num" data-val="280">000</span>
    <span class="text">Satisfaction Rate</span>
  </div>
</div>
<!-- Script -->
<script>
  let valueDisplays = document.querySelectorAll(".num");
  let interval = 4000;

  valueDisplays.forEach((valueDisplay) => {
    let startValue = 0;
    let endValue = parseInt(valueDisplay.getAttribute("data-val"));
    let duration = Math.floor(interval / endValue);
    let counter = setInterval(function () {
      startValue += 1;
      valueDisplay.textContent = startValue;
      if (startValue == endValue) {
        clearInterval(counter);
      }
    }, duration);
  });
</script>

<!-- about -->
<div class="container-flui" style="background-color:#181717;">
  <div class="row w-100">
      <div class="col-md-6 p-0 shapedividers_com-672  wow animate__animated animate__slideInLeft" data-wow-delay="0.3s">
          <img src="/Images/1aboutimg.jpg" alt="" width="100%" height="100%">
      </div>
      <div class="col-md-6 p-0 wow animate__animated animate__slideInRight" data-wow-delay="0.3s">
          <div class = "contentabout">
              <h2>About Us</h2>
              <span></span>

              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>

              <ul class = "linkabout">
                  <li><a href = "#">work</a></li>

                  <div class = "vertical-line"></div>

                  <li><a href = "#">service</a></li>

                  <div class = "vertical-line"></div>
                  
                  <li><a href = "#">contact</a></li>
              </ul>

              <ul class = "iconabout">
                  <li>
                      <a href=""><i class = "fa fa-twitter"></i></a>
                  </li>
                  <li>
                      <a href=""><i class = "fa fa-facebook"></i></a>
                  </li>
                  <li>
                      <a href=""><i class = "fa fa-instagram"></i></a>
                  </li>
                  <li>
                      <a href=""><i class = "fa fa-linkedin"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>
<!-- Logo Slider -->
<div class="container-fluid " id="logoSlider">
  <h2 class="title-up" style="color: black;">Our <span class="theme-text">Clients</span></h2>
   <section class="customer-logos slider">
      <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
      <div class="slide"><img src="http://www.webcoderskull.com/img/logo.png"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
   </section>
   
</div>
<!-- Logo Slider End -->

<script>
  new WOW().init();
</script>

<%- include('./footer.ejs') %>
