<%- include('./header.ejs') %>
<section
  class="about-section shapedividers_com-7975 animate__animated animate__slideInDown"
>
  <div class="service-bg">
    <h1>Manage IT Services</h1>
  </div>
</section>
<div class="p-4">
  <div class="row p-4 wow animate__animated animate__zoomIn">
    <div class="col-md-12 page-container">
      <p class="heading-section">Manage IT Services</p>
    </div>
    <div class="col-md-7 content-box">
      <div class="content-para">
        <p>
          Managing IT services involves overseeing the planning, delivery,
          support, and optimization of information technology (IT) services
          within an organization to meet its business objectives effectively and
          efficiently. IT service management (ITSM) encompasses various
          processes, practices, and tools aimed at aligning IT services with the
          needs of the business and ensuring the delivery of high-quality
          services to users and customers.
        </p>
      </div>
      <div class="content-para">
        <p>
          Managing IT services requires a holistic approach that encompasses
          strategic planning, design, transition, operation, and continuous
          improvement. By effectively managing IT services, organizations can
          enhance their operational efficiency, reduce risks, improve customer
          satisfaction, and drive business success.
        </p>
      </div>
    </div>
    <div class="col-md-5 content-box-1">
      <div class="w-100 h-100" id="img-manage"></div>
    </div>
  </div>
</div>

<section class="section2" id="AboutUs">
  <table>
    <tr>
      <td>
        <img
          class="wow animate__animated animate__slideInRight" style="height: 250px;"
          src="https://media.istockphoto.com/id/1385970223/photo/great-idea-of-a-marketing-strategy-plan-at-a-creative-office.webp?b=1&s=170667a&w=0&k=20&c=tb2d0EOX_j10LHI_1znMGoSI_55FBSwP-Mo68GMzgfY="
          alt="AboutUs"
        />
      </td>
      <td>
        <span class="title" style="font-size: 23px">Service Strategy</span>
        <p class="ph wow animate__animated animate__slideInRight">
          IT service management begins with defining the strategic objectives
          and requirements of the organization. This involves understanding the
          business goals, priorities, and constraints and aligning IT services
          accordingly. Service strategy focuses on identifying opportunities for
          value creation, defining service portfolios, and establishing service
          level agreements (SLAs) to meet business needs.
        </p>
        <p class="wow animate__animated animate__slideInRight">
          IT services are designed to fulfill those objectives effectively.
          Service design involves designing new services, processes, and
          technologies, as well as improving existing ones.
        </p>
      </td>
    </tr>
  </table>
</section>

<section class="section3" id="OurMission">
  <table>
    <tr>
      <td>
        <span class="title" style="font-size: 23px">Service Transition</span>
        <p class="ph wow animate__animated animate__slideInLeft">
          The service transition phase, new or modified IT services are
          transitioned into operation while minimizing disruption to the
          business. This involves planning, testing, and deploying changes to IT
          infrastructure, applications, and processes. Service transition also
          includes activities such as change management
        </p>
        <p class="wow animate__animated animate__slideInLeft">
          The goal of service operation is to ensure that IT services are
          available, reliable, and responsive to user needs, while minimizing
          the impact of incidents and disruptions on the business.
        </p>
      </td>
      <td>
        <img
          class="wow animate__animated animate__slideInLeft" style="height: 250px;"
          src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="AboutUs"
        />
      </td>
    </tr>
  </table>
</section>
<%- include('./footer.ejs') %>
