<%- include('./header.ejs') %>
<section
  class="about-section shapedividers_com-7975 animate__animated animate__slideInDown"
>
  <div class="about-bg" style="background: url(/Images/news.png); background-size: cover;">
    <h1>NEWS AND EVENTS</h1>
  </div>
</section>
<div class="p-4">
  <div class="row p-4 wow animate__animated animate__zoomIn">
    <div class="col-md-12 page-container">
      <p class="heading-section">NEWS AND EVENTS</p>
    </div>
    <div class="col-md-7 content-box">
      <div class="content-para">
        <p>
          "News and events" refer to current happenings, developments, or
          occurrences that are of interest and relevance to a particular
          audience.News refers to timely information or reports about recent
          events, developments, or trends, typically disseminated through
          various media channels such as newspapers, television, radio,
          websites, and social media platforms. News can cover a wide range of
          topics, including politics, economics, business, science, technology,
          sports, entertainment, and culture.
        </p>
      </div>
      <div class="content-para">
        <p>
          Events are planned gatherings, occasions, or activities that bring
          people together for a specific purpose, such as conferences, seminars,
          festivals, concerts, sports competitions, and community gatherings.
          Events can be organized by individuals, organizations, businesses, or
          governments and may vary in scale, duration, and significance.
        </p>
      </div>
    </div>
    <div class="col-md-5 content-box-1">
      <div class="w-100 h-100" id="img-news"></div>
    </div>
  </div>
</div>

<section class="section2" id="AboutUs">
  <table>
    <tr>
      <td>
        <img
          class="wow animate__animated animate__slideInRight"
          style="height: 250px"
          src="/Images/Coverage of News.avif"
          alt="AboutUs"
        />
      </td>
      <td>
        <span class="title" style="font-size: 23px">Coverage of News</span>
        <p class="ph wow animate__animated animate__slideInRight">
          The coverage of news refers to the process of gathering, reporting,
          and disseminating information about current events, developments, or
          issues through various media channels. News coverage plays a crucial
          role in keeping the public informed, shaping public opinion, and
          holding individuals and institutions accountable.
        </p>
        <p class="wow animate__animated animate__slideInRight">
          news coverage serves as a vital source of information, accountability,
          and public discourse, providing audiences with timely, accurate nd
          relevant news about events and developments shaping their world.
        </p>
      </td>
    </tr>
  </table>
</section>

<section class="section3" id="OurMission">
  <table>
    <tr>
      <td>
        <span class="title" style="font-size: 23px">Coverage of events</span>
        <p class="ph wow animate__animated animate__slideInLeft">
          Coverage of events refers to the process of capturing, reporting, and
          disseminating information about planned gatherings, occasions, or
          activities through various media channels. Events can range from
          small-scale gatherings like local community meetings to large-scale
          events such as conferences, festivals, sports competitions, and
          concerts.
        </p>
        <p class="wow animate__animated animate__slideInLeft">
          The coverage of events involves journalists, reporters, photographers,
          videographers, and other media professionals who attend the event to
          gather information, conduct interviews.
        </p>
      </td>

      <td>
        <img
          class="wow animate__animated animate__slideInLeft"
          style="height: 250px"
          src="/Images/Coverage of events.avif"
          alt="AboutUs"
        />
      </td>
    </tr>
  </table>
</section>
<%- include('./footer.ejs') %>
