<%- include('./header.ejs') %>
    <section class="about-section shapedividers_com-7975 animate__animated animate__slideInDown">
        <div class="about-bg" style="background: url(/Images/port.jpg); background-size: cover;">
            <h1>PORTFOLIO</h1>
        </div>
    </section>
    <div class="p-4">
        <div class="row p-4 wow animate__animated animate__zoomIn">
            <div class="col-md-12 page-container">
                <p class="heading-section mb-2">OUR PROJECTS</p>
            </div>
            <div class="row g-4 w-100">
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="/Images/Lenskart.png" class="card-img-top" style="border: 5px solid #606162;"
                            alt="Hollywood Sign on The Hill" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="/Images/carsbecho.png" class="card-img-top" style="border: 5px solid #606162;"
                            alt="Hollywood Sign on The Hill" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="/Images/piramal.png" class="card-img-top" style="border: 5px solid #606162;"
                            alt="Hollywood Sign on The Hill" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="/Images/make my trip.jpg" class="card-img-top" style="border: 5px solid #606162;"
                            alt="Palm Springs Road" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="/Images/carsbecho.png" class="card-img-top" style="border: 5px solid #606162;"
                            alt="Hollywood Sign on The Hill" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="/Images/adityabirla.jpg" class="card-img-top" style="border: 5px solid #606162;"
                            alt="Los Angeles Skyscrapers" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">This is a longer card with supporting text below as a
                                natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="/Images/make my trip.jpg" class="card-img-top" style="border: 5px solid #606162;"
                            alt="Palm Springs Road" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <div class="card" id="cardg">
                        <img src="https://scontent.fbom19-1.fna.fbcdn.net/v/t39.30808-6/340877265_232732355971411_4759509257166061924_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=MOdwgaT9GBcAb6GTWQh&_nc_ht=scontent.fbom19-1.fna&oh=00_AfAIlutLHOWGS3YI1dBNGOEBWLS71i3qz5Fig0yvzIglGg&oe=6614AC64"
                            class="card-img-top" style="border: 5px solid #606162;" alt="Skyscrapers" />
                        <div class="card-body" style="background: #606162;">
                            <h5 class="card-title" id="cardheading">Card title</h5>
                            <p class="card-text" id="cardsub">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./footer.ejs') %>