<%- include('./header.ejs') %>
<section
  class="about-section shapedividers_com-7975 animate__animated animate__slideInDown"
>
  <div class="about-bg" style="background: url(/Images/privacy.jpg); background-size: cover;">
    <h1>Privacy And Policy</h1>
  </div>
</section>
<div class="p-4">
  <div class="row p-4 wow animate__animated animate__zoomIn">
    <div class="col-md-12 page-container">
      <p class="heading-section">Privacy And Policy</p>
    </div>
    <div class="col-md-7 content-box">
      <div class="content-para">
        <p>
          "Privacy and policy" typically refers to the set of rules, guidelines,
          and regulations governing the collection, use, disclosure, and
          protection of personal information by organizations, businesses,
          governments, or other entities. Privacy policies outline how
          organizations handle individuals' personal data and ensure compliance
          with applicable laws and regulations regarding privacy and data
          protection.
        </p>
      </div>
      <div class="content-para">
        <p>
          privacy and policy encompass a range of legal, organizational, and
          technical measures aimed at protecting individuals' privacy rights and
          ensuring responsible and ethical handling of personal information by
          organizations. By prioritizing privacy and adopting robust privacy
          policies and practices, organizations can build trust with their
          customers, partners, and stakeholders and mitigate risks.
        </p>
      </div>
    </div>
    <div class="col-md-5 content-box-1">
      <div class="w-100 h-100" id="img-privacy"></div>
    </div>
  </div>
</div>

<section class="section2" id="AboutUs">
  <table>
    <tr>
      <td>
        <img
          class="wow animate__animated animate__slideInRight"
          style="height: 250px"
          src="/Images/Privacy Laws and Regulations.webp"
          alt="AboutUs"
        />
      </td>
      <td>
        <span class="title" style="font-size: 23px"
          >Privacy Laws and Regulations</span
        >
        <p class="ph wow animate__animated animate__slideInRight">
          Privacy laws and regulations establish legal frameworks for protecting
          individuals' privacy rights and regulating the handling of personal
          information by organizations. These laws vary by jurisdiction and may
          include general privacy laws, such as the European Union's General
          Data Protection Regulation (GDPR) or the California Consumer Privacy
          Act (CCPA), as well as sector-specific laws.
        </p>
        <p class="wow animate__animated animate__slideInRight">
          such as the Health Insurance Portability and Accountability Act
          (HIPAA) for healthcare data or the Gramm-Leach-Bliley Act (GLBA) for
          financial information.
        </p>
      </td>
    </tr>
  </table>
</section>

<section class="section3" id="OurMission">
  <table>
    <tr>
      <td>
        <span class="title" style="font-size: 23px"
          >Compliance and Accountability</span
        >
        <p class="ph wow animate__animated animate__slideInLeft">
          Organizations are responsible for ensuring compliance with privacy
          laws and regulations and for implementing appropriate measures to
          protect individuals' privacy rights. This includes establishing
          privacy governance structures, appointing privacy officers or data
          protection officers, conducting privacy impact assessments,
          implementing data protection measures such as encryption and access
          controls, providing privacy training to employees.
        </p>
        <p class="wow animate__animated animate__slideInLeft">
          Compliance with privacy laws demonstrates organizational
          accountability and commitment to protecting individuals' privacy
          rights.
        </p>
      </td>

      <td>
        <img
          class="wow animate__animated animate__slideInLeft"
          style="height: 250px"
          src="/Images/Compliance and Accountability.avif"
          alt="AboutUs"
        />
      </td>
    </tr>
  </table>
</section>
<%- include('./footer.ejs') %>
