<%- include('./header.ejs') %>
<section
  class="about-section shapedividers_com-7975 animate__animated animate__slideInDown"
>
  <div class="about-bg" style="background: url(/Images/inno.jpg); background-size: cover;">
    <h1>RESEARCH AND INNOVATION</h1>
  </div>
</section>
<div class="p-4">
  <div class="row p-4 wow animate__animated animate__zoomIn">
    <div class="col-md-12 page-container">
      <p class="heading-section">RESEARCH AND INNOVATION</p>
    </div>
    <div class="col-md-7 content-box">
      <div class="content-para">
        <p>
          Research and innovation are essential drivers of progress and
          advancement in various fields, including science, technology,
          business, healthcare, and academia.Research refers to the systematic
          investigation and study of a topic or subject in order to discover new
          knowledge, validate existing theories, or solve specific problems.
          Research can take many forms, including basic research, applied
          research, and experimental research. Basic research aims to expand our
          understanding of fundamental principles and phenomena, often without
          immediate practical application.
        </p>
      </div>
      <div class="content-para">
        <p>
          Innovation is the process of translating new ideas, discoveries, or
          inventions into tangible products, services, processes, or solutions
          that create value for individuals, organizations, or society as a
          whole. Innovation involves taking risks, challenging the status quo,
          and introducing novel approaches to address existing needs or
          capitalize on emerging opportunities.
        </p>
      </div>
    </div>
    <div class="col-md-5 content-box-1">
      <div class="w-100 h-100" id="img-innovation"></div>
    </div>
  </div>
</div>

<section class="section2" id="AboutUs">
  <table>
    <tr>
      <td>
        <img
          class="wow animate__animated animate__slideInRight" style="height: 250px;"
          src="/Images/Drivers of Research.avif"
          alt="AboutUs"
        />
      </td>
      <td>
        <span class="title" style="font-size: 23px">Drivers of Research</span>
        <p class="ph wow animate__animated animate__slideInRight">
          Research and innovation are driven by various factors, including
          technological advancements, scientific discoveries, market demands,
          regulatory changes, competitive pressures, and societal needs.
          Government funding, academic institutions, private sector investments,
          and collaborative partnerships also play crucial roles in supporting
          research and innovation initiatives.
        </p>
        <p class="wow animate__animated animate__slideInRight">
          Additionally, factors such as intellectual property rights,
          entrepreneurship, talent development, and cultural attitudes towards
          risk-taking.
        </p>
      </td>
    </tr>
  </table>
</section>

<section class="section3" id="OurMission">
  <table>
    <tr>
      <td>
        <span class="title" style="font-size: 23px">Benefits of Research</span>
        <p class="ph wow animate__animated animate__slideInLeft">
          Research and innovation contribute to economic growth,
          competitiveness, and social progress by fostering technological
          advancements, driving productivity gains, creating new industries and
          jobs, and improving quality of life. They enable organizations to stay
          ahead of the competition, adapt to changing market conditions, and
          address complex challenges facing society
        </p>
        <p class="wow animate__animated animate__slideInLeft">
          such as climate change, healthcare, energy, and education. Research
          and innovation also play a key role in addressing global issues and
          achieving sustainable development goals.
        </p>
      </td>
      <td>
        <img
          class="wow animate__animated animate__slideInLeft" style="height: 250px;"
          src="/Images/Benefits of Research.avif"
          alt="AboutUs"
        />
      </td>
    </tr>
  </table>
</section>
<%- include('./footer.ejs') %>
